<div>
  <table class="table table-bordered border-dark">
    <thead>ジャンル検索</thead>
    <tbody>
    <%= form_with model: @item do |f| %>
      <% genres.each do |genre| %>
      <tr>
        <td>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>