<div>
  <table class="table table-bordered border-dark">
    <thead>ジャンル検索</thead>
    <tbody>
      <% genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to items_path(genre_id: genre.id) do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>